Repository flex-development/docast-parse: changes, and which lint-staged commands are due for each by the changed paths.
All: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, vitest run --changed --mode=typecheck --typecheck, yarn dedupe --check, vitest run --changed --coverage, yarn build, bash -c tsc -p tsconfig.build.json

.lintstagedrc.json:

{
  "*": [
    "dprint check",
    "eslint --exit-on-fatal-error",
    "cspell lint --color --no-progress --relative $@"
  ],
  "**/*.{cts,mts,ts}": "vitest run --changed --mode=typecheck --typecheck",
  "**/yarn.lock": "yarn dedupe --check",
  "src/**/*.ts": [
    "vitest run --changed --coverage",
    "yarn build",
    "bash -c tsc -p tsconfig.build.json"
  ]
}

build(pkg): generate provenance statements
  .github/workflows/publish.yml
  package.json
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@

docs: when should i use this?
  .github/infrastructure.yml
  README.md
  package.json
  src/__tests__/plugin.integration.spec.ts
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, vitest run --changed --mode=typecheck --typecheck, yarn dedupe --check, vitest run --changed --coverage, yarn build, bash -c tsc -p tsconfig.build.json

docs: markdown syntax
  README.md
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@

docs: api
  .vscode/settings.json
  README.md
  src/__tests__/plugin.integration.spec.ts
  src/__tests__/plugin.spec-d.ts
  src/plugin.ts
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, vitest run --changed --mode=typecheck --typecheck, vitest run --changed --coverage, yarn build, bash -c tsc -p tsconfig.build.json

docs: use
  README.md
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@

chore(patches): remove `unist-util-inspect@7.0.1`
  patches/unist-util-inspect+7.0.1.dev.patch
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@

chore(github): add commit scope `chore`
  .commitlintrc.ts
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, vitest run --changed --mode=typecheck --typecheck
